{% extends "caselink/index.html" %}
 {% block title %} Libvirt Auto-Manual Case Linkage {% endblock %}
 {% block body %}
 <h3 align='center'>libvirt Auto-Manual Case Linkage</h3>
<table id="sortable-table" class="display">
    <thead>
        <th>Case</th>
        <th>Polarion</th>
        <th>Title</th>
        <th>Documents</th>
        <th>Errors</th>
    </thead>
    <tfoot>
        <th>Case</th>
        <th>Polarion</th>
        <th>Title</th>
        <th>Documents</th>
        <th>Errors</th>
    </tfoot>
</table>
<script type="text/javascript">
    $(document).ready(function() {
        var table = $('#sortable-table').DataSearchTable( {
            "ajax": "data?type=a2m",
            "iDisplayLength": 20,
            "bAutoWidth": false,
            "selectorColumns": ['Documents', 'Errors'],
            "columns": [
                { "data": "case" },
                {
                    "data": "polarion",
                    "render": function(data) {
                        link = ""
                        for (i in data){
                            polarion_id = data[i];
                            link += '<a href="https://polarion.engineering.redhat.com/polarion/#/project/RedHatEnterpriseLinux7/workitem?id='+polarion_id+'">'+polarion_id+'</a><br>';
                        }
                        return link;
                    }
                },
                { "data": "title" },
                {
                    "data": "documents",
                    "render": function(data){
                        return $.map(data, function(n){return n}).join('<br>');
                    }
                },
                {
                    "data": "errors",
                    "render": function(data){
                        return $.map(data, function(n){return n}).join('<br>');
                    }
                },
            ],
            "createdRow": function (row, data, index){
                if (data.errors.length > 0) {
                    $('td', row).eq(0).addClass('errors');
                }
            }
        });
    });
</script>
<a href='control?trigger=autocase_error_check' target='_blank'>Check Autocase errors.</a>
{% endblock %}
