{% load staticfiles %}
<html>
    <head>
        <title>libvirt Manual-Auto Case Linkage</title>
        <link rel="stylesheet" type="text/css" href="{% static "caselink/datatables.css" %}">
        <script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.js"></script>
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/styles/googlecode.min.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/highlight.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/js-cookie/2.0.4/js.cookie.min.js"></script>
       	<link rel="stylesheet" href="http://fabien-d.github.io/alertify.js/assets/js/lib/alertify/alertify.core.css" />
        <link rel="stylesheet" href="http://fabien-d.github.io/alertify.js/assets/js/lib/alertify/alertify.default.css" id="toggleCSS" />
    </head>
    <body>
        <script>
            function do_update ( row_id, id ) {
                table = $('#sortable-table').DataTable();
                table.row(row_id).remove().draw();
                $.post(
                    "update",
                    {
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                        'id': id,
                    },
                    function ( response ) {
                        console.log(response);
                        alertify.alert("Updated " + id);
                    }
                );
            }
            function do_ignore ( row_id, id ) {
                table = $('#sortable-table').DataTable();
                table.row(row_id).remove().draw();
                $.post(
                    "ignore",
                    {
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                        'id': id,
                    },
                    function ( response ) {
                        console.log(response);
                        alertify.alert("Ignored " + id);
                    }
                );
            }
        </script>
        <h3 align='center'>libvirt Manual-Auto Case Linkage</h3>
        <table id="sortable-table" class="display">
            <thead>
                <th></th>
                <th>Polarion</th>
                <th>Title</th>
                <th>Documents</th>
                <th>Automation</th>
                <th>Error</th>
                <th>Feature</th>
                <th>Updated</th>
                <th>TCMS</th>
                <th>Comment</th>
                <th>Diffs</th>
                <th>Cases</th>
            </thead>
            <tfoot>
                <th></th>
                <th>Polarion</th>
                <th>Title</th>
                <th>Documents</th>
                <th>Automation</th>
                <th>Error</th>
                <th>Feature</th>
                <th>Updated</th>
                <th>TCMS</th>
                <th>Comment</th>
                <th>Diffs</th>
                <th>Cases</th>
            </tfoot>
        </table>

        <script type="text/javascript">
        $(document).ready(function() {
            function format ( row ) {
                d = row.data();
                // `d` is the original data object for the row
                var diff_txt = ''
                if(d.diffs.length > 0) {
                    diff_txt += 'Do these changes need auto case update?'
                    diff_txt += ' <button type="button" onclick="do_update(\''+
                        row.index()+'\', \''+
                        d.polarion+'\');" >Yes</button>';
                    diff_txt += ' <button type="button" onclick="do_ignore(\''+
                        row.index()+'\', \''+
                        d.polarion+'\');" >No</button>';
                    diff_txt += '<pre><code class="diff">'+d.diffs+'</code></pre>';
                }
                var table_txt = '<table cellpadding="0" cellspacing="0" '+
                    'border="0" style="padding-left:0px;">';
                if(d.tcms) {
                    table_txt += '<tr>'+
                        '<td>TCMS case IDs:</td>'+
                        '<td>'+d.tcms+'</td>'+
                    '</tr>';
                }
                if(d.cases.length > 0) {
                    table_txt += '<tr>'+
                    '<tr>'+
                        '<td>Autotest cases:</td>'+
                        '<td>'+d.cases+'</td>'+
                    '</tr>';
                }
                if(d.comment) {
                    table_txt += '<tr>'+
                        '<td>Comment:</td>'+
                        '<td>'+d.comment+'</td>'+
                    '</tr>';
                }
                if(d.errors) {
                    table_txt += '<tr>'+
                        '<td>Errors:</td>'+
                        '<td>'+d.errors+'</td>'+
                    '</tr>';
                }
                if(diff_txt) {
                    table_txt += '<tr>'+
                        '<td>Diffs:</td>'+
                        '<td>'+ diff_txt +'</td>'+
                    '</tr>';
                }
                table_txt += '</table>';
                return table_txt;
            }

            // Setup - add a text input to each footer cell
            $('#sortable-table tfoot th').each( function () {
                var title = $('#sortable-table thead th').eq( $(this).index() ).text();
                if ( title.length > 0 ) {
                    $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
                }
            } );

            var table = $('#sortable-table').DataTable( {
                "ajax": "data",
                "iDisplayLength": 20,
                "bAutoWidth": false,
                "initComplete": function () {
                    this.api().columns().every( function () {
                        var column = this;
                        var title = $(column.header()).text();
                        if ( title.length == 0 || ['Title', 'Polarion', 'TCMS', 'Comment', 'Cases'].indexOf(title) > -1 ) {
                            return;
                        }
                        var select = $('<select><option value=""></option></select>')
                            .appendTo( $(column.footer()).empty() )
                            .on( 'change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );
                                column
                                    .search( val ? '^'+val+'$' : '', true, false )
                                    .draw();
                            } );
                        column.data().unique().sort().each( function ( d, j ) {
                            select.append( '<option value="'+d+'">'+d+'</option>' )
                        } );
                    } );
                },
                "columns": [
                    {
                        "data":           null,
                        "className":      'details-control',
                        "orderable":      false,
                        "defaultContent": '',
                        "width":          '10',
                    },
                    {
                        "data": "polarion",
                        "render": function( data ) {
                            return '<a href="https://polarion.engineering.redhat.com/polarion/#/project/RedHatEnterpriseLinux7/workitem?id='+data+'">'+data+'</a>';
                        }
                    },
                    { "data": "title" },
                    { "data": "documents"},
                    { "data": "automation" },
                    { "data": "errors" },
                    { "data": "feature" },
                    { "data": "updated"},
                    { "data": "tcms" },
                    { "data": "comment" },
                    { "data": "diffs" },
                    { "data": "cases" },
                ],
                "createdRow": function ( row, data, index ) {
                    if ( data.errors.length > 0 ) {
                        $('td', row).eq(0).addClass('errors');
                    }
                }
            } );
            table.columns().every( function () {
                    var column = this;
                    var title = $(column.header()).text();
                    if ( ['TCMS', 'Comment', 'Diffs', 'Cases', 'Updated', 'Feature'].indexOf(title) > -1 ) {
                        this.visible(false);
                    }
                    });

            // Apply the search
            table.columns().every( function () {
                var that = this;

                $( 'input', this.footer() ).on( 'keyup change', function () {
                    that
                        .search( this.value )
                        .draw();
                } );
            } );

            // Add event listener for opening and closing details
            $('#sortable-table tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = table.row( tr );

                if ( row.child.isShown() ) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                }
                else {
                    // Open this row
                    row.child( format(row) ).show();
                    tr.addClass('shown');
                    $('pre code').each(function(i, block) {
                        hljs.highlightBlock(block);
                    });
                }
            } );

        } );
        </script>
		<script src="http://fabien-d.github.io/alertify.js/assets/js/lib/alertify/alertify.min.js"></script>
    </body>
</html>
