[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
six = "*"
suds = "*"
logstash = "*"
Flask = "*"
SQLAlchemy = "*"
Flask-SQLAlchemy = "*"
Flask-RESTful = "*"
Flask-Migrate = "*"
celery = "*"

[packages.caselink-python]
git = "https://github.com/ryncsn/caselink-python"

[packages.caselink]
git = "https://github.com/ryncsn/caselink-python"
ref = "master"
