[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
six = "*"
Flask = "*"
SQLAlchemy = "*"
Flask-SQLAlchemy = "*"
Flask-RESTful = "*"
Flask-Migrate = "*"

[dev-packages]
pylint = "*"

[packages.caselink]
git = "https://github.com/ryncsn/caselink-python"
ref = "master"
