[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
six = "*"
suds = "*"
celery = "*"
flake8 = "*"
"stomp.py" = "*"
Flask = "*"
SQLAlchemy = "*"
Flask-SQLAlchemy = "*"
Flask-RESTful = "*"
Flask-Migrate = "*"
python-logstash = "*"

[dev-packages]
pylint = "*"

[packages.caselink]
git = "https://github.com/ryncsn/caselink-python"
ref = "master"

[packages.caselink-python]
git = "https://github.com/ryncsn/caselink-python"
