from . import Config


class ActiveConfig(Config):
    DEBUG = False
    TESTING = False

    SQLALCHEMY_DATABASE_URI = 'sqlite:////tmp/test.db'
    SQLALCHEMY_TRACK_MODIFICATIONS = False

    POLARION_ENABLED = False
    POLARION_URL = 'https://localhost/'
    POLARION_PROJECT = 'TEST-PROJECT'
    POLARION_USER = 'TEST-USER'
    POLARION_PASSWORD = 'TEST-PASSWORD'
    POLARION_PLANS = {
        "PRODUCT-VERSION": "QUERY",
    }

    CELERY_BROKER = 'amqp://guest:guest@localhost:5672//'
    CELERY_RESULT_BACKEND = 'db+sqlite:////tmp/test.db'
    CELERY_IGNORE_RESULT = False
