<div>
  <div v-if="noError">
    "<div class="alert alert-success" role="alert">Nothing to process</div>
  </div>
  <div v-else class="panel panel-default detail-operatoins">
    <div class="panel-body">
      <button v-on:click="ignoreResult" type="button" class="btn btn-warning btn-ignore btn-result" title="Set linkage_result to ignored and no longer consider this case as a failure bloking polarion submition anymore.">Ignore/Skip</button>
      <button v-on:click="refreshResult" type="button" class="btn btn-success btn-refresh btn-result" title="Lookup in Caselink again, override current error.">Refresh</button>
      <button v-on:click="deleteResult" type="button" class="btn btn-danger btn-delete btn-result" title="Delete this result. (UNRECOVERABLE)">Delete</button>
    </div>
  </div>
  <pre>
    <code class="detail-well" v-html="logContentHTML">
    </code>
  </pre>
</div>
