{% extends "index.html" %}
{% block title %} Libvirt Dashboard {% endblock %}
{% block content %}
<table class='table' id='column_table'>
    <thead>
        <tr>
            {% for col in column_names %}
            <th>{{ col }}</th>
            {% endfor %}
        </tr>
    </thead>
</table>
{% endblock %}
{% block footer %}
<script type="text/javascript" charset="utf-8">
    sharedParameters.set("ajaxURL", "{{ajax}}");
    sharedParameters.set("templateColumns", [
        {% for col in column_datas %}
        "{{ col }}",
        {% endfor %}
    ]);
</script>
<script src="{{ url_for('static', filename='dist/column_table.js') }}" type="text/javascript" charset="utf-8"></script>
{% endblock %}
