{% extends "index.html" %}
{% block title %} {{title}} {% endblock %} </title>
{% block content %}
<table class='table' id='column_table'>
    <thead>
        <tr>
            {% for col in column_names %}
            <th>{{ col }}</th>
            {% endfor %}
        </tr>
    </thead>
</table>
{% endblock %}
{% block footer %}
<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        $('#column_table').dataTable( {
            pageLength: 50,
            columns: [
                {% for col in column_datas %}
                { "data":"{{ col }}" },
                {% endfor %}
            ],
            ajax: {
                url: '{{ajax}}',
                dataSrc: ''
            },
        });
    } );
</script>
{% endblock %}
