<html>
    <head>
        <meta charset="utf-8"></meta>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"></meta>
        <title>{% block title %} Libvirt Dashboard {% endblock %} </title>
        <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='dist/vendor.bundle.js') }}"></script>
        <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='dist/head.js') }}"></script>
        <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='dist/init.js') }}"></script>
        {% block extra_header %}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Libvirt Dashboard</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/">Index</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container-fluid">
            {% block content %}
            <div class="container">
                <div class="panel panel-default">
                    <div class="panel-heading">Table</div>
                    <div class="panel-body">
                        <a type="button" class="btn btn-info" href="#">Button</a>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">API</div>
                    <div class="panel-body">
                        <a type="button" class="btn btn-info" href="#">Button</a>
                    </div>
                </div>
            </div>
            {% endblock %}
        </div>
        {% block footer %}
        {% endblock %}
    </body>
</html>
