{% extends "index.html" %}
{% block title %} {{title}} {% endblock %} </title>
{% block content %}
<table class='table' id='column_table'>
    <thead>
        <tr>
            <th></th>
            {% for col in column_names %}
            <th>{{ col }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th></th>
            {% for col in column_names %}
            <th>{{ col }}</th>
            {% endfor %}
        </tr>
    </tfoot>

</table>
{% endblock %}
{% block footer %}

<div id="_proto_error_panel">
    <div class="panel panel-default">
        <div class="panel-body">
            <button type="button" class="btn btn-warning btn-mark-fail btn-result">Mark Failed</button>
            <button type="button" class="btn btn-success btn-mark-pass btn-result">Mark Passed</button>
            <button type="button" class="btn btn-danger btn-delete btn-result">Delete</button>
        </div>
    </div>
</div>

<script type="text/javascript" charset="utf-8">
    var error_panel = $("#_proto_error_panel").detach()
    var run_id = window.location.pathname.match("\/run\/([0-9]*)")[1]

    function format(row){
        // Row child renderer.
        return error_panel.html()
    }
    function _ajax_call(method, case_name, data){
        return $.ajax("/api/run/" + run_id + "/manual/" + case_name + "/", {
            contentType: "application/json; charset=utf-8",
            method: method,
            dataType: "json",
            data: JSON.stringify(data),
        }).fail(function(err){
            alert("Ajax failed with: " + JSON.stringify(err));
        });
    }

    function mark_case_fail(case_name){
        return _ajax_call("PUT", case_name, {
            result: "failed"
        });
    }

    function mark_case_pass(case_name){
        return _ajax_call("PUT", case_name, {
            result: "passed"
        });
    }

    function delete_case(case_name){
        return _ajax_call("DELETE", case_name);
    }

    $(document).ready(function() {
        var table = $('#column_table').DataSearchTable({
            pageLength: 50,
            dom: '<<"row" <"col-md-2"l><"col-md-6"B><"col-md-4"f>>r<t><"row"<"col-md-6"i><"col-md-6"p>>>',
            buttons: [
                {
                    text: 'Pass selected',
                    action: function ( e, dt, node, config ) {
                        table.rows( { selected: true } ).every(function(idx, tableLoop, rowLoop){
                            var row = this;
                            var d = this.data();
                            mark_case_pass(d.case).done(function(data){
                                row.data(data);
                                row.draw();
                            });
                        })
                    },
                    className: 'btn-default',
                },
                {
                    text: 'Fail selected',
                    action: function ( e, dt, node, config ) {
                        table.rows( { selected: true } ).every(function(idx, tableLoop, rowLoop){
                            var row = this;
                            var d = this.data();
                            mark_case_fail(d.case).done(function(data){
                                row.data(data);
                                row.draw();
                            });
                        })
                    },
                    className: 'btn-default',
                },
                {
                    text: 'Delete selected',
                    action: function ( e, dt, node, config ) {
                        table.rows( { selected: true } ).every(function(idx, tableLoop, rowLoop){
                            var row = this;
                            var d = this.data();
                            delete_case(d.case).done(function(data){
                                table
                                .row(idx)
                                .remove()
                                .draw();
                            });
                        });
                    },
                    className: 'btn-danger',
                },
                {
                    text: 'Regenerate Manual Results',
                    action: function ( e, dt, node, config ) {
                        $.ajax("/trigger/run/" + run_id + "/manual/refresh", {
                            method: "GET",
                        }).fail(function(err){
                            alert("Ajax failed with: " + JSON.stringify(err));
                        }).done(function(data){
                            if(data.message == 'success'){
                                window.location.reload(false);
                            }
                            else{
                                alert("Failed with: " + JSON.stringify(data));
                                window.location.reload(false);
                            }
                        });
                    },
                    className: 'btn-danger',
                },
                {
                    text: 'Submit to Polarion',
                    action: function ( e, dt, node, config ) {
                        $.ajax("/trigger/run/" + run_id + "/submit", {
                            method: "GET",
                        }).fail(function(err){
                            alert("Ajax failed with: " + JSON.stringify(err));
                        }).done(function(data){
                            if(data.submitted.length == 1){
                                alert('Success!')
                            }
                            else if(data.error.length !== 0){
                                alert('Not submitted, please check for errors for both auto results and manual result of this test run then try again.');
                            }
                        });
                    },
                    className: 'btn-success',
                },

            ],
            select: true,
            selectorColumns: [
                {
                    column:"result",
                    render: prettier
                },
            ],
            columns: [
                {
                    "data": null,
                    "className": 'details-control',
                    "orderable": false,
                    "defaultContent": '<i class="fa fa-fw fa-plus" aria-hidden="true"></i>',
                    "width": '10',
                },
                {% for col in column_datas %}
                {
                    "data":"{{ col }}",
                    "render": prettier
                },
                {% endfor %}
            ],
            rowCallback: function(row, data, index){
                if(data.result == 'incomplete'){
                    $(row).addClass('error');
                }
            },
            ajax: {
                url: '{{ajax}}',
                dataSrc: ''
            },
            initComplete: function(settings, json) {
            },
        });

        // Add event listener for opening and closing details
        $('#column_table tbody').on('click', 'td.details-control', function(){
            var tr = $(this).closest('tr');
            var button = $(this).find('i');
            var row = table.row(tr);
            var d = row.data()

            if (row.child.isShown()) {
                // This row is already open - close it
                $('div.slider', row.child()).slideUp(function(){
                    row.child.hide();
                    button.addClass('fa-plus');
                    button.removeClass('fa-minus');
                });
            }

            else {
                // Open this row
                row.child('<div class="slider row-child">' + format(row) + '</div>', 'no-padding').show();

                button.removeClass('fa-plus');
                button.addClass('fa-minus');

                $('div.slider', row.child()).slideDown();

                //Add button event
                $(row.child()).find("button").on('click', function(event){
                    if($(event.target).hasClass('btn-mark-fail')){
                        mark_case_fail(d.case).done(function(data){
                            row.data(data);
                            row.draw();
                        });
                    }
                    else if($(event.target).hasClass('btn-mark-pass')){
                        mark_case_pass(d.case).done(function(data){
                            row.data(data);
                            row.draw();
                        });
                    }
                    else if($(event.target).hasClass('btn-delete')){
                        delete_case(d.case). done(function(data){
                            table
                            .row(tr)
                            .remove()
                            .draw();
                        });
                    }
                });
            }
        });

    });
</script>
{% endblock %}
