{#TODO use url_for for all links #}
{% extends "index.html" %}
{% block title %} Libvirt Dashboard - Generated Manuals {% endblock %}
{% block content %}
{% set column_names = ['Test Run', 'Date', 'Polarion Submit Date', 'Auto', 'Linkage', 'Manual', 'Tags'] %}
<div id="testrun-overview" class="container">
    <div class="panel panel-default">
        <div class="panel-heading test-run-panel">Test Runs
            <a class="pull-right" href="/api/run/" title="JSON format">
                API
            </a>
            <a class="pull-right" href="/table/run/" style="padding-right: 10px;" title="View in more detailed table">
                Table
            </a>
            <a class="pull-right" href="#" style="padding-right: 10px;" v-on:click="showSearchPanel = !showSearchPanel">
                Advanced Search
            </a>
        </div>
        <div v-show="showSearchPanel" id="datatable-selector" class="panel-body">
            <div class="input-group">
                <input type="radio" id="filter-all" value="all" v-model="submitStatus">
                <label for="filter-all">All</label>
                <br>
                <input type="radio" id="filter-submitted" value="submitted" v-model="submitStatus">
                <label for="filter-submitted">Submitted</label>
                <br>
                <input type="radio" id="filter-notsubmitted" value="notsubmitted" v-model="submitStatus">
                <label for="filter-notsubmitted">Not Submitted</label>
                <br>
            </div>
            <div class="input-group">
                <div v-for="item in availTags" class="checkbox checkbox-inline">
                    <input type="checkbox" v-bind:id="item.name" v-bind:value="item.name" v-bind:title="item.desc || item.name" v-model="checkedTags">
                    <label v-bind:for="item.name">
                        ${ item.name }
                    </label>
                </div>
            </div>
            <br />
            <div class="input-group">
                <span class="input-group-addon">Contains Auto Test case:</span>
                <input type="text" class="form-control" placeholder="Case ID" v-model="containsAutocase">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" v-on:click="reloadTable">Search</button>
                </span>
            </div>
            <br />
            <div class="input-group">
                <span class="input-group-addon">Contains Manual Test case:</span>
                <input type="text" class="form-control" placeholder="Case ID" v-model="containsManualcase">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" v-on:click="reloadTable">Search</button>
                </span>
            </div>
        </div>
        <table class='table' id='column_table'>
            <thead>
                <tr>
                    {% for col in column_names %}
                    <th>{{ col }}</th>
                    {% endfor %}
                </tr>
            </thead>
        </table>
    </div>
</div>
{% endblock %}

{% block footer %}
<script type="text/x-templates" charset="utf-8" id="testrun-child-row">
    <div class="testrun-child row">
        <div class="btn-group col-md-4">
            <div class="dropdown dropdown-auto">
                <button class="btn btn-default dropdown-toggle" type="button" id="runDropDown" data-toggle="dropdown" aria-haspopup="true">
                    Auto Results
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="runDropDown">
                    <li><a class='dashboard-resolve' title='View Test Results and Resolve existing errors manually' v-bind:href="autoResolveUrl">View and resolve</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a class='dashboard-table' title='View in table' v-bind:href="autoTableUrl">Table</a></li>
                    <li><a href="#" class='dashboard-api' title='View in JSON' v-bind:href="autoApi">API</a></li>
                </ul>
            </div>
            <span class="label dashboard-info-auto" v-bind:class="{ 'label-danger': !!testRun.auto_error, 'label-info': !testRun.auto_error}">
            ${autoSummary}
            </span>
        </div>
        <div class="btn-group col-md-4">
            <div class="dropdown dropdown-manual">
                <button class="btn btn-default dropdown-toggle" type="button" id="runDropDown" data-toggle="dropdown" aria-haspopup="true">
                    Manual Results
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="runDropDown">
                    <li><a class='dashboard-resolve' title='View Test Results and Resolve existing errors manually' v-bind:href="manualResolveUrl">View and resolve</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#" class='dashboard-table' title='View in table' v-bind:href="manualTableUrl">Table</a></li>
                    <li><a href="#" class='dashboard-api' title='View in JSON' v-bind:href="manualApi">API</a></li>
                </ul>
            </div>
            <span class="label dashboard-info-manual" v-bind:class="{ 'label-danger': !!testRun.manual_error, 'label-info': !testRun.manual_error}">
            ${manualSummary}
            </span>
        </div>
        <div class="btn-group col-md-4">
            <a class="btn btn-success dashboard-submit" title="Submit generated manual test results to polarion, test result will be blocked from being submitted until all auto test error and manual test result errors have been resolved." v-on:click="submitTestRun" v-bind:class="{ disabled: !!testRun.submit_date }">
                Submit to Polarion
            </a>
            <a class="btn btn-success dashboard-jump" title="Jump to the Polarin page." v-bind:href="polarionUrl" v-bind:class="{ disabled: !testRun.submit_date }" >
                View on Polarion
            </a>
            <a class="btn btn-danger dashboard-delete" title="Delete this test run. (UNRECOVERABLE)" v-on:click="deleteTestRun">
                Delete
            </a>
        </div>
    </div>
</script>
<script type="text/javascript" charset="utf-8">
    sharedParameters.set('datatablesAPIURL', "{{ url_for('dt_api.test_run_list')}}");
</script>
<script src="{{ url_for('static', filename='dist/testrun_overview.js') }}" type="text/javascript" charset="utf-8"></script>
{% endblock %}
