{% extends "index.html" %}
{% block title %} Libvirt Dashboard - Generated Manuals {% endblock %}
{% block extra_header %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}"></link>
<meta charset="utf-8">

{% endblock %}
{% block content %}

<div class="d3">
<form>
    <select name="test_run" id="test_run" value="">
        <option value="">All</option>
    </select>
    <label> <input type="checkbox" name="showing" value="auto_passed" checked="checked"> Passed </label>
    <label> <input type="checkbox" name="showing" value="auto_failed" checked="checked"> Failed </label>
    <label> <input type="checkbox" name="showing" value="auto_skipped" checked="checked"> Skip </label>
    <label> <input type="checkbox" name="showing" value="auto_error"> Error </label>
</form>
</div>

{% endblock %}
{% block footer %}
<script type="text/javascript" charset="utf-8">
    sharedParameters.set("templateStatisticURL", "{{url_for('dashboard_statistics.testrun_statistics', limit=0)}}");
</script>
<script src="{{ url_for('static', filename='dist/testrun_dashboard.js') }}" type="text/javascript" charset="utf-8"></script>

{% endblock %}
