{% extends "index.html" %}
{% block title %} Libvirt Dashboard - Generated Manuals {% endblock %}
{% block extra_header %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}"></link>
<meta charset="utf-8">

{% endblock %}
{% block content %}

<div class="d3">
<form>
    <select name="test_run" id="test_run" value="">
        <option value="">All</option>
    </select>
    <label> <input type="checkbox" name="showing" value="auto_passed" checked="checked"> Passed </label>
    <label> <input type="checkbox" name="showing" value="auto_failed" checked="checked"> Failed </label>
    <label> <input type="checkbox" name="showing" value="auto_skipped" checked="checked"> Skip </label>
    <label> <input type="checkbox" name="showing" value="auto_error"> Error </label>
</form>
</div>

{% endblock %}
{% block footer %}

<script src="//d3js.org/d3.v4.min.js"></script>
<script src="//d3js.org/d3-scale.v1.min.js"></script>
<script src="//d3js.org/d3-axis.v1.min.js"></script>
<script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='javascript/test-run-stack-graph.js') }}"></script>
<script type="text/javascript" charset="utf-8">
    var graph = new TestRunStackGraph('.d3');
    function updateKeys(){
        var selected = [];
        return $('input:checked[name="showing"]').each(function() {
            selected.push($(this).val());
        }).promise().done(function(){
            graph.changeKeys(selected);
        });
    }
    $('[name="showing"]').change(function(){
        updateKeys();
    });
    updateKeys();
    $.ajax("{{url_for('dashboard_statistics.testrun_statistics', limit=0)}}")
        .done(function(data){
            var selector = $('[name="test_run"]');
            for (var key in data){
                selector.append("<option value=\"" + key + "\">"+ key +"</option>")
            }
            selector.change(function(){
                graph.updateData(this.value);
            })
        });

</script>

{% endblock %}
